@import 'variables';

body{

background-color: brown;
}
h1{
  
  text-decoration: underline;
  color: brown;
}

header{ 
div{

 
  .fotoComida{ 

border: 10px dotted $fuenteContenido;
  @include wh(50px,400px)
  }
  
}

}
article{
 
  h2{
    text-decoration: underline;
    color: $fuenteContenido;
    
   }  
  
  p{
    font-size: 100%;
   color: $fuenteContenido;

   }
  .fotoLocal{

    border-radius: 15px;
    border: 15px black double;
    @include wh(400px,300px)
   }

   iframe{
    @extend .fotoLocal;
   }
}

form{
  border: 5px black double;
}

a:hover{

  color: rgb(230, 91, 11);
  background-color: $fuenteContenido;
}

main{
  
  div{
  
    img{
    height: 200px;
    width: 300px;
       }
   p{
    font-style: italic;
    font-weight: bold;
    }
}
.carta{
  background-color: $fuenteContenido;
}


}

footer{ 
  justify-content: center;
  align-items: center;
 background-color: $fuenteContenido;
 

}





